# Flutter dependencies
build/
.dart_tool/
.idea/
.packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
packages/
.pub-cache/
.pub/
flutter_export_environment.sh
.metadata
backend/hanzi.db
hanzi.db
db/

# Exclude platform icons
android/**/res/mipmap-*/*
ios/**/Assets.xcassets/**/*.png
macos/**/Assets.xcassets/**/*.png
web/icons/*.png
web/favicon.png
windows/runner/resources/*.ico
